[Unit]
Description=update to latest release on origin/main

[Service]
#Type=forking
WorkingDirectory=%h/vaittelyfoorumi
ExecStart=%h/vaittelyfoorumi/main.sh update
