[Unit]
Description=python webapp for hy-tkt/tsoha
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=10
WorkingDirectory=%h/vaittelyfoorumi
ExecStart=%h/vaittelyfoorumi/main.sh

[Install]
WantedBy=default.target
