[Unit]
Description=periodically checks for updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=vaittelyfoorumi-updater.service

[Install]
WantedBy=timers.target
