body {
    background: rgb(15, 5, 70);

}

.navbar {
    color:rgb(177,161,253);
}

form #logout {
    position: absolute;
    top: 10px;        
    right: 10px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);
}


form #new_convo {
    position: absolute;
    top: 10px;        
    right: 80px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);

}

form #headlines {
    position: absolute;
    top: 10px;        
    right: 190px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);
}

form #profilee {
    position: absolute;
    top: 10px;        
    right: 279px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);
}


#All_the_db_hd {
    color: rgb(160, 172, 242);
    font-family: "Century gothic", CenturyGothic,Geneva,AppleGothic,sans-serif;
    position: absolute;
    left: 55px;
    top: 5px;
}


#headline_link {        
    padding: 6px 10px;
    background: rgb(15, 5, 70);
    color: rgb(158, 216, 218);
    border: none;
    font-size: 17px;
    font-family: Consolas, monaco, monospace;
}

#headline_link:hover {        
    padding: 6px 10px;
    background: rgb(15, 5, 70);
    color: rgb(246, 222, 213);
    text-shadow: 0 0 10px rgb(246, 222, 213);
    border: none;
    font-size: 17px;
    font-family: Consolas, monaco, monospace;
}

.list_of_headlines {
    color: rgb(184, 212, 255);
    position: relative;
    left: 1px;
    top: 100px;
}

.list {
    list-style-type: none;
}

.opinion_statistics {
    color: rgb(186, 190, 249);
    position: relative;
    left: 450px;
    top: -26px;
    font-family: Consolas, monaco, monospace;
    font-size: 15px;
}

#Statistics_hd {
    color: rgb(186, 190, 249);
    font-family: "Century gothic", CenturyGothic,Geneva,AppleGothic,sans-serif;
    position: absolute;
    left: 500px;
    top: 15px;
    font-size: 25px;
}

.max {
    color: rgb(250, 251, 222);
    position: relative;
    left: 490px;
    top: -20px;
    font-family: Consolas, monaco, monospace;
    font-size: 15px;
}