.ul_profile {
    color: rgb(177,161,253); 
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 5px;
}

.started_de {
    color: rgb(177,161,253); 
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 500px;
}

body {
    background: rgb(15, 5, 70);

}

.navbar {
    color:rgb(177,161,253);
}

#profileheader {
    color: rgb(184, 212, 255); 
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 40px;
}

#profiletext {
    color: rgb(184, 212, 255); 
    position: absolute;
    top: 0px;
    left: 400px;
    font-size: 20px;
}

.debates_partaken_of {
    color: rgb(177,161,253);
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
}

.debates_started {
    color: rgb(177,161,253);
    position: absolute;
    top: 80px;
    left: 500px;
    font-size: 20px;
}

.statement {
    color: rgb(177,161,253);
    font-size: 20px;
}

.headline {
    color: rgb(177,161,253);
    font-size: 20px;
}


form #logout {
    position: absolute;
    top: 10px;        
    right: 10px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);
}


form #new_convo {
    position: absolute;
    top: 10px;        
    right: 80px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);

}

form #headlines {
    position: absolute;
    top: 10px;        
    right: 190px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);
}

form #profilee {
    position: absolute;
    top: 10px;        
    right: 279px;
    padding: 6px 10px;
    background: rgb(158, 216, 218);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 10px rgba(177,161,253, 0.7);
}

