<!DOCTYPE html>
<link rel="stylesheet" href="static/main.css">
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Log out</a>
{% else %}
<form action="/login" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Log in">
</form>
<form action="/register" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Register">
</form>

{% endif %}
