<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/main_page.css"/>
<head>
    <title>This is the site that opens up when you are on the main page and here goes the links to the old debates</title>
</head>

<body>
    <div class="navbar">

        <form action="/headlines_list" method="POST">
            <input id="headlines" type="submit" value="Main page">
        </form>
        <form action="/new_conversation" method="POST">
            <input id="new_convo" type="submit" value="Start a debate">
        </form>
        <form action="/logout" method="GET">
            <input id="logout" type="submit" value="Log out">
        </form>
    </div>
    <h1>All the debates</h1>
    {% if headlines %}
    <ul>
        {% for hl in headlines %}
            <li><a href="/old?h1={{ hl }}">{{ hl }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    Ei debaatteja
    {% endif %}
    <a href="/old_conversation"></a>
</body>
</html>
