<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/main_page.css"/>
<head>
    <title>This is the site that opens up when you are on the main page</title>
</head>

<body>
    <div class="navbar">
        <form action="/profile" >
            <input id="profilee" type="submit" value="Profile">
        </form>
        <form action="/headlines_list" >
            <input id="headlines" type="submit" value="Main page">
        </form>
        <form action="/new_conversation">
            <input id="new_convo" type="submit" value="Start a debate">
        </form>
        <form action="/logout" >
            <input id="logout" type="submit" value="Log out">
        </form>
    </div>
    <h1 id="All_the_db_hd">All the debates</h1>
    <h2 id="Statistics_hd">Statistics:</h2>
    <div class="list_of_headlines">
    {% if max_m %}
    <div class="max">
    "{{ max_m.0[0] | safe }}" is the most popular debate with {{ max_m.1 }} messages!
    </div>
    {% endif %}
    {% if results %}
    Headlines that contain {{ queryy }}:
    <ul class="results_list">
        {% for result in results %}
            <li>
                <form action="/old?h1={{ result[0] | urlencode }}&id={{ result[1] }}" method="POST">
                    <input id= "headline_link" type="submit" value="{{ result[0] | safe }}">
                    </form>    
        
            </li>
        {% endfor %}
    {% if results == '[]' %}
        <p>No results was found</p>
    {% endif %}
    </ul>
    {% else %}
    {% if combo %}
            <ul class="list">
                {% for hl in combo%}
                        <li>
                            <form action="/old?h1={{ hl['headline'] | urlencode }}&id={{ hl['id'] }}" method="POST">
                            <input id= "headline_link" type="submit" value="{{ hl['headline'] | safe }}">
                            </form>
                            <div class="opinion_statistics">
                            <span class="opinion"> {{ hl['opinion'] | safe }}: </span> 
                            <span class="opinion_agree"> {{ hl['agree_count'] }} messages agree</span>
                            <span class="opinion_disagree"> &nbsp; {{ hl['disagree_count'] }} messages disagree</span> 
                            </div>
                        </li>
                {% endfor %}
            </ul>
        
        {% else %}
            <div class="no_debates yet">
                Currently, there are no active debates available on the platform. <br>Whether you're a seasoned debater or new to the app,<br>don't worry—debates come and go,but there are<br>always new and exciting conversations on the horizon.


            </div>
    {% endif %}
    {% endif %}
    <div class="search_bar">
        <form action="/result" method="GET">
            Hakusana: <input type="search" name="query">
            <input type="submit" value="Search">
            </form>
    </div>
    </div>
    <a href="/old_conversation"></a>
</body>
</html>
