<!DOCTYPE html>
<html>
<head>
    <title>Chat Page</title>
</head>
<body>
    <h1>{{ headline }}</h1>
    <title>Tähän loop silmukka, jossa haetaan kaikki headlines db tiedostot ja kun
        niistä klikataan niin se johtaa "/old_conversation"</title>
        <ul>  
        {% for u, m in messages_and_users.items() %}
        <li>User: {{ u }}</li>
            {% for m in messages_and_users.items() %}
                <li>Viesti: {{ m[1] | replace('\r\n', '') }}</li>
            {% endfor %}
        <ul>
            {% endfor %}
        </ul>
    <href="/old_conversation></href>"
</body>
</html>