<!DOCTYPE html>
<html>
<head>
    <title>Chat Page</title>
</head>
<body>
    <h1>{{ headline }}</h1>
    <title>Tähän loop silmukka, jossa haetaan kaikki headlines db tiedostot ja kun
        niistä klikataan niin se johtaa "/old_conversation"</title>
        <ul>  
        {% for tuple in messages_list %}
        User: {{ tuple.1 }}
            <li>Viesti: {{ tuple.0|replace("\r\n", "<br/>")|safe }}</li>
            {% endfor %}
        <ul>

    </ul>
    <form action="/comment" method="POST">
        <input type="hidden" name="headline" value="{{ headline }}">
        <br>
        Write here your comment: <br>
        <br>
        <textarea name="content" rows="5" cols="40"> </textarea> <br>
        <br>
        <input type="submit" value="Post comment">
    </form> 

    <a href="/headlines_list">Main page</a> <title>Tämä on linkki Main page</title>

</body>
</html>