<!DOCTYPE html>
<link rel="stylesheet" href="static/profile.css"/>
<html>
<head>
    <title>This is the site that forms the users profile</title>
</head>
<body>
    <h2 id="profiletext">Your profile</h2>
    <div class="debates_partaken_of">
    Debates you have taken a part of:
    </div>
    <ul class="ul_profile">  
        {% for headline in information %}
            {% set tuple = combo_of_h_a_s[ loop.index0 ] %}
                <div class="list_of_headlines">
                    <div class="headline"><a href="/old?h1={{ headline | urlencode }}"><span class="headline">{{ headline | safe }}&nbsp;</span> <span class="statement">&nbsp;{{ tuple.statement }}:</span> <span class="opinion_a_or_d">{{ tuple.opinion }}</span></a></div>
                </div>
            {% endfor %}
            

    </ul>
    <div class="debates_started">
        Debates you have started:
        </div>
    <ul class="started_de">  
        {% for s_headline in started_debates %}
        <div class="list_of_started_headlines">
            <div class="started_headline"><a href="/old?h1={{ s_headline | urlencode }}">{{ s_headline | safe}}</a></div>
        </div>
        {% endfor %}
    </ul>
    
    <div class="navbar">
        <form action="/profile" >
            <input id="profilee" type="submit" value="Profile">
        </form>
        <form action="/headlines_list" >
            <input id="headlines" type="submit" value="Main page">
        </form>
        <form action="/new_conversation">
            <input id="new_convo" type="submit" value="Start a debate">
        </form>
        <form action="/logout" >
            <input id="logout" type="submit" value="Log out">
        </form>
    </div>
    <h1 id="profileheader">{{ username }}</h1>
</body>
</html>